/*SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LE AGREGAMOS CSS AL CUERPO  DE MI PAGINA*/
body{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    font-family: sans-serif;
}
/*LE AGREGAMOS CSS */
a {
    text-decoration: none;
}

/*LE AGREGAMOS CSS AL CONTENEDOR*/
.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

/*Le agregamos css AL header*/
 header{
     padding: 40px 0;
 }

 /*LE AGREGAMOS CSS AL LOGO */
 header .logo {
     text-align: center;/*alineacion de texto */
     margin-bottom: 40px;
 }

/*LE AGREGAMOS CSS AL TITULO DE NUESTRA PAGINA WEB */
 header .logo h1 {
    color: #fff ;
    font-size: 40px;
}
 /*LE AGREGAMOS CSS A LA ETIQUETA P */
 header .logo p {
     color:/*#EDEDED*/ b ;
 }


 header form {
    width: 100%;
   
    /*trabajamos con flexbox*/
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

 }
 
 /*le agregamos css a la barra de busqueda */
 header .barra-busqueda {
     width: 70%;
     height: 40px;
     line-height: 40px;
     background:  #fff;
     padding: 0 20px;
     border-radius: 100px;
     border: none;
     text-align: center;
     font-size: 20px;
 }   

 /*le agregamos css a la barra de categoria*/
 header .categorias {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
 }


 header .categorias a {
     color: #fff;
     margin:  10px 20px ;
     font-size: 18px;
     font-weight: 700;
 }


 header .categorias a.activo {
     color: #000; /*color del texto de la barra de categorias */
 }


 /*LE AGREGAMSO ESTILOS A LAS IMAGENES */
 .grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

/*LE AGREGAMOS CSS A LOS IMTE */
 .grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
    width: calc(33.333333% - 20px);

}

.grid .item-contenido {
	position: relative;
}

/*cuando se pase el cursor 
a una imagene se cambia a una manita para poder dar click */
.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/*LE AGREGAMOS CSS AL OVERLAY */
.overlay {
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
    display: flex;
}

.overlay img {
 max-width: 100%;
}

/*le agregamos css a las descripciones de las imagenes 
cuando le demos click a la imagen*/
.overlay .descripcion {
    display: block;
    background: #fff;
    padding: 20px;/*relleno */
    text-align: center;/*alineacion del texto */
    margin-top: 5px;
    border-radius: 15px;
    max-width: 100%;/*ancho maximo */

}


.contenedor-img {
    position: relative;
}


/*LE AGREGAMOS CSS AL OVERLAY  DEL ICONO DE CERRAR */
.overlay #btn-cerrar-popup{
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;/*ningun border*/
    cursor: pointer;
    position: absolute;
    right: -20px;/*derecha*/
    top: -20px;

}

/*LE AGREGAMOS CSS A LOS ICONOS DE REDES SOCIALES */
footer .redes-sociales {
    /*TRABAJAMOS CON FLEXBOX*/
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;/*envoltura*/
}


/* LE DAMOS ANIMACION AL CSS DE LOS ICONOS DE REDES SOCIALES */
footer .redes-sociales a{
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
}

/*le agregamos diseño a los iconos de las redes sociales */
footer .redes-sociales .youtube{
    background: #E61E39;
}

footer .redes-sociales .facebook {
    background: #3b5998;
}

footer .redes-sociales .instagram {
    background: #c13584;
}

footer .redes-sociales a i  {
    font-size: 25px;
    line-height:60px;

}

/*Le agregamos css al texto del autor */
footer .autor {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

/*le agregamso responsive design*/
/*trabajando con media query */
@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}

	header .barra-busqueda {
		width: 100%;
	}
}